<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5">
        <div class="row">
            <!-- Card Cliente -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Cliente</h5>
                        <p class="card-text">Veja os restaurantes e faça sua reserva!</p>
                        <a href="/restaurant/list" class="btn btn-primary">Ver Restaurantes</a>
                    </div>
                </div>
            </div>
            <!-- Card Staff -->
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Staff</h5>
                        <p class="card-text">Acesse o sistema de administração.</p>
                        <a href="/staff" class="btn btn-secondary">Acessar Staff</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
